<div class="codec-container">
    <div class="portrait left">
        <img src="{{leftPortrait}}" alt="Left Portrait" />
    </div>

    <div class="codec-info">
        <div class="name-frequency">
            <div class="name">{{name}}</div>
            <div class="frequency">{{frequency}}</div>
        </div>
        <div class="dialogue-box">
            <p>{{text}}</p>
        </div>
    </div>

    <div class="portrait right">
        <img src="{{rightPortrait}}" alt="Right Portrait" />
    </div>
</div>